{{vm.myVar}} <br>
<button ng-click="vm.increase()">Increase</button>
<br> <br>

<div ng-repeat="item in vm.items">
    <span ng-class="{ done: item.done }">
        <a href ="#/details/{{ item._id}}">{{ item.title }}</a>
    </span>
    <input type="checkbox" ng-model="item.done">
    <a href ng-click="vm.removeItem(item._id)">X</a>
</div>

<br> <br>
<input ng-model="vm.newItem">

<button ng-click="vm.addNew()">Add</button>